* {
  box-sizing: border-box;
}

body {
  background-color: #8ec0e7;
}

#welcomePage {
  background-image: url("https://wallpapercave.com/wp/wp4546211.jpg");
}

.menu {
  background-color: white !important;
}

.categoryBtn {
  background-color: #84e795 !important;
}

.footer {
  position: fixed;
  bottom: -14px;
  margin: auto;
  width: 101%;
  background-color: white !important;
}

/* body::before {
  content: "";
  background-size: cover;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  opacity: 0.5;
} */

.carouselCard {
  width: 500px;
  height: 500px; 
  background-color: white;
  position: relative;
} 
.carouselImg {
  width: 300px;
  margin: 10px; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
