* {
  box-sizing: border-box;
}

body {
  background-color: #8ec0e7;
}

/* Allows content hidden behind footer to show */
.main {
  padding-bottom: 200px;
}

#catHeading {
  margin-bottom: 25px;
}

#random,
#fitness,
#chores,
#study,
#calm,
#read,
#dance {
  box-shadow: 3px 3px 2px white;
  padding-bottom: 35px !important;
}

#welcomePage {
  background-image: url("https://wallpapercave.com/wp/wp4546211.jpg");
  background-blend-mode: hard-light;
  backdrop-filter: blur(2px);
}

#logoContainer {
  margin-top: 15px;
  margin-left: 15px;
}

#logoIcon {
  width: 100px;
}

#just-rec-logo {
  width: 7em;
  height: 3.5em;
  padding: 10px;
  margin-top: 5px;
}

/* nav bar */
.menu {
  background-color: white !important;
}

.appButton {
  background-color: #84e795 !important;
  margin-top: 15px !important;
  width: 10em;
  border-radius: 27px !important;
}

#startBtn {
  box-shadow: 3px 3px 2px white;
}

.footer {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0px;
  margin: auto !important;
  padding: 1em;
  width: 100%;
  background-color: white !important;
}

i {
  color: #84e795;
}

/* .audioSection > button {
  background-color: #84e795;
  border: 0px;
  border-radius: 27px;
  padding: 0.5em;
} */

.carouselCard {
  width: 500px;
  height: 500px;
  background-color: white;
  position: relative;
}
.carouselImg {
  width: 300px;
  margin: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Makes bar with START button go down */
#startingContent {
  margin-top: 9em;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
}

#textContainer {
  padding: 10px 0px;
}

/* category buttons in categories.html (2nd page)*/
#catButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80%;
}

#recdPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.owl-nav {
  display: none;
}
